    {{#userInfo}}
    <form class='formFields' method="POST">
    <h1>Edit your profile here</h1>
    {{profileEditErrorMessage}}
    <input name="first" value={{first}}>
    <input name="last" value={{last}}>
    <input name='email' value={{email}}>
    <input type="password" name='password' placeholder="new unique password">
    <input name="age" placeholder="age" value={{age}}>
    <input name="city" placeholder="city" value={{city}} >
    <input name="url" placeholder="website" value={{url}} >
    <button class="profileEdit">save changes</button>
    {{/userInfo}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>

{{#updatedUserInfo}}
<div class='formFields'>
<h1>Here is your updated user profile</h1>
<p class='userInfo'>first name - {{first}}</p>
<p class='userInfo'>last name - {{last}}</p>
<p class='userInfo'>email address - {{email}}</p>
<p class='userInfo'>age - {{age}}</p>
<p class='userInfo'>city - {{city}}</p>
<p class='userInfo'>website - {{url}}</p>
<a href="/">continue</a>
</div>
{{/updatedUserInfo}}
