{{> navbar}}

{{profileEditErrorMessage}}
<form method="POST">
    {{#userInfo}}
    <h1>Edit your profile here</h1>
    <input name="first" value={{first}}>
    <input name="last" value={{last}}>
    <input name='email' value={{email}}>
    <input type="password" name='password' placeholder="new unique password">
    <input name="age" placeholder="age" value={{age}}>
    <input name="city" placeholder="city" value={{city}} >
    <input name="url" placeholder="website" value={{url}} >
    <button class="profileEdit">save changes</button>
    {{/userInfo}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>

{{#updatedUserInfo}}
<p>Here is your updated user profile</p>
<p>first name - {{first}}</p>
<p>last name - {{last}}</p>
<p>email address - {{email}}</p>
<p>age - {{age}}</p>
<p>city - {{city}}</p>
<p>website - {{url}}</p>
<a href="/">continue</a>

{{/updatedUserInfo}}
