<div class='formFields'>

    <h1>Signers</h1>
    {{#signers}}

        {{signersByCityErrorMessage}}

        <li><a href={{url}}> {{first}} {{last}} </a>- {{age}} - <a href= "/signers/{{city}}">{{city}}</a></li>

        {{/signers}}

    </div>
