
        <h1>Signers</h1>


        {{signersByCityErrorMessage}}

        {{#signers}}
        <li><a href={{url}}> {{first}} {{last}} </a>- {{age}} - <a href= "/signers/{{city}}">{{city}}</a></li>

        {{/signers}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
